.itemPokemonCard .imgPokemon {
    background-color: #F2F2F2;
    padding: 25px;
    border-radius: 15px;
}

.itemPokemonCard .imgPokemon img {
    width: 100%;
}

p.idPokemon {
    color: gray;
    margin-bottom: 20px;
}

p.namePokemon {
    margin-bottom: 5px;
}

b {
    font-size: 32px;
    font-weight: bold;
}

div.info {
    display: flex;
    gap: 5px;
}

div.info span {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}

.Grass {
    background-color: #9BCC51;
    color: black;
}

.Fire {
    background-color: #FE7D24;
    color: white;
}

.bound {
    max-width: 25%;
}